<ion-header>
  <ion-toolbar>
    <ion-title>
      Foto de Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <div style="text-align: center;">
        <ion-avatar>
          <img [src]="perfil" alt="Sem imagem.">
        </ion-avatar>
      </div>
    </ion-item>
    <ion-item>
      <ion-button *ngIf="perfil == '/assets/icon.gif'" color="success" block="expand" slot="start">Adicionar
      </ion-button>
      <ion-button *ngIf="perfil != '/assets/icon.gif'" color="warning" block="expand" slot="start">Alterar</ion-button>
      <ion-button *ngIf="perfil != '/assets/icon.gif'" color="danger" block="expand" slot="end">Excluir</ion-button>
    </ion-item>
  </ion-card>
</ion-content>